services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_SITE_TITLE: ${WORDPRESS_SITE_TITLE}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
    volumes:
     - ./wordpress-config/:/var/www/wordpress-config
    networks:
      - wp-net

  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./backups:/backups
    networks:
      - wp-net

  https:
    image: nginx:latest
    container_name: https
    depends_on:
      - wordpress
    ports:
      - "443:443"
 #   volumes:
 #     - ./nginx-config/default.conf:/etc/nginx/conf.d/default.conf:ro
 #     - ./nginx-config/localhost.pem:/etc/ssl/certs/localhost.pem:ro
 #     - ./nginx-config/localhost-key.pem:/etc/ssl/private/localhost-key.pem:ro
    networks:
      - wp-net

volumes:
  db_data:

networks:
  wp-net:
